body {
    background: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    color: rgb(200, 200, 200);
}

h3 {
    font-size: 1.1rem;
    color: rgb(200, 200, 200);
    font-style: italic;
    margin-bottom: 3rem;
}

button {
    width: 8rem;
    height: 2rem;
}

#divbox {
    margin-top: 3rem;
    height: 20rem;
    width: 30rem;
    background: black;
}