body {
    background: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.6rem;
    color: rgb(200, 200, 200);
    text-decoration: underline;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
    color: rgb(200, 200, 200);
}

h3 {
    font-size: 1.2rem;
    color: rgb(200, 200, 200);
    font-style: italic;
    margin: 0.5rem;
    margin-bottom: 1.8rem;
}

button {
    width: 8rem;
    height: 2rem;
}

#divbox {
    margin-top: 2rem;
    height: 20rem;
    width: 30rem;
    background: black;
}